.array-container {
    position: absolute;
    left: 100px;
    /* top: 100px; */
  }
  
  .array-bar {
    width: 4px;
    background-color: green;
    display: inline-block;
    margin: 0 1.5px;
  }